*{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 80vw;
}
.navbar{
    display: flex;
    height: 55px;
    font-family: sans-serif;
}
.navbar li{
    list-style: none;
    margin: 0px 15px;
}
.section1 h1{
    font-size: 1.5rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.section1 p{
    margin-left:20px;
    margin-right: 20px;
}
.section2 h1{
    font-size: 1.5rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.section2 p{
    text-align: center;
    padding: 0px 10vw;
}
.box{
    padding: 8px 0px;
    margin: 10px 20px;
    width: 665px;
    height: 200px;
    border: 2px solid rgba(248, 149, 2, 0.779);
    border-radius: 5px ;
    text-align: center;
}
.box ul{
    list-style: none;
    padding-right:8px;
}
.box ul li{
    margin: 5px 5px;
}
.box h2{
    padding: 10px 2px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.section3 table{
    height: 100%;
    width: 64vw;
    margin: 30px 100px;
    border-collapse: collapse;
}
.section3 table th{
    width: 64vw;
    border-bottom: 2px solid black;
    padding: 10px 0px;
}
.section3 table td{
    border-bottom: 2px solid black;
    padding-left: 100px;    
}